@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro/GothamPro.eot');
    src: url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro.ttf') format('truetype'),
    url('../fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');
    font-style: normal;
    font-weight: normal;
}@font-face {
    font-family: 'GothamPro-Medium';
    src: url('../fonts/GothamPro-Medium/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro-Medium/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Medium/GothamPro-Medium.woff') format('woff'),
    url('../fonts/GothamPro-Medium/GothamPro-Medium.ttf') format('truetype'),
    url('../fonts/GothamPro-Medium/GothamPro-Medium.svg#GothamPro') format('svg');
    font-style: normal;
    font-weight: normal;
}



body{
    font-family: "Avenir", 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    color: #CECECE;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*----------------------Menu-------------------------------*/
.cd-logo {
    display: block;
    position: absolute;
    top: 90px;
    z-index: 30;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cd-stretchy-nav {
    position: fixed;
    z-index: 30;
    top: 40px;
    right: 5%;
    pointer-events: none;
}
.cd-stretchy-nav .stretchy-nav-bg {
    position: absolute;
    z-index: 28;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: height 0.2s, box-shadow 0.2s;
    -moz-transition: height 0.2s, box-shadow 0.2s;
    transition: height 0.2s, box-shadow 0.2s;
}
.cd-stretchy-nav.nav-is-visible {
    pointer-events: auto;
}
.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
    height: 93%;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.cd-nav-trigger {
    position: absolute;
    z-index: 31;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    pointer-events: auto;
}
.cd-nav-trigger span, .cd-nav-trigger span::after, .cd-nav-trigger span::before {
    /* this is the hamburger icon */
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #0c646a;
}
.cd-nav-trigger span {
    /* middle line of the hamburger icon */
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.cd-nav-trigger span::after, .cd-nav-trigger span::before {
    /* top and bottom lines of the hamburger icon */
    content: '';
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}
.cd-nav-trigger span::before {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
}
.cd-nav-trigger span::after {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
}
/*.no-touch .cd-nav-trigger:hover ~ .stretchy-nav-bg {*/
/*box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);*/
/*}*/
.nav-is-visible .cd-nav-trigger span {
    background-color: transparent;
}
.nav-is-visible .cd-nav-trigger span::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-stretchy-nav ul {
    position: relative;
    z-index: 29;
    padding: 40px 90px 40px;
    visibility: hidden;
    -webkit-transition: visibility 0.3s;
    -moz-transition: visibility 0.3s;
    transition: visibility 0.3s;
    text-align: left;
    background-color: #ffffff;
    font-size: 5px;
    list-style: none;
    border-radius: 10px;
    /*width: 650px;*/
}
.cd-stretchy-nav ul a {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    /*padding: 0 calc(1em + 60px) 0 1em;*/
    color: rgba(35, 37, 42, 0.7);
    font-size: 16px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.cd-stretchy-nav ul a::after {
    /* navigation item icons */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    right: 22px;
    top: 50%;
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: .6;
    /*background: url(../img/cd-sprite-1.svg) no-repeat 0 0;*/
}
.cd-stretchy-nav ul a::before {
    /* line visible next to the active navigation item */
    content: '';
    position: absolute;
    width: 75px;
    height: 3px;
    top: 50%;
    right: 134px;
    -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
    -moz-transform: translateX(3px) translateY(-50%) scaleY(0);
    -ms-transform: translateX(3px) translateY(-50%) scaleY(0);
    -o-transform: translateX(3px) translateY(-50%) scaleY(0);
    transform: translateX(3px) translateY(-50%) scaleY(0);
    background-color: #0045ba;
}

.cd-stretchy-nav ul span {
    /* navigation item labels */
    display: block;
    opacity: 0;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px);
}

.cd-stretchy-nav.nav-is-visible ul {
    visibility: visible;
}
.cd-stretchy-nav.nav-is-visible ul a::after {
    /* navigation item icons */
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-animation: scaleIn 0.15s backwards;
    -moz-animation: scaleIn 0.15s backwards;
    animation: scaleIn 0.15s backwards;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.cd-stretchy-nav.nav-is-visible ul a.active {
    color: #0045ba;
}
.cd-stretchy-nav.nav-is-visible ul a.active::after {
    opacity: 1;
}
.cd-stretchy-nav.nav-is-visible ul a.active::before {
    -webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
    -moz-transform: translateX(3px) translateY(-50%) scaleY(1);
    -ms-transform: translateX(3px) translateY(-50%) scaleY(1);
    -o-transform: translateX(3px) translateY(-50%) scaleY(1);
    transform: translateX(3px) translateY(-50%) scaleY(1);
    -webkit-transition: -webkit-transform 0.15s 0.3s;
    -moz-transition: -moz-transform 0.15s 0.3s;
    transition: transform 0.15s 0.3s;
}
.cd-stretchy-nav.nav-is-visible ul span {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: slideIn 0.15s backwards;
    -moz-animation: slideIn 0.15s backwards;
    animation: slideIn 0.15s backwards;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover {
    color: #0045ba;
    text-decoration: none;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover::after {
    opacity: 1;
}
/* Sections
	 * --------------------------------------- */
.section {
    background-attachment: fixed;
    background-size: auto 80%;;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
#section1 {
    background-image: url(../img/home/homepage-first-slide.jpg);
}
#section2 {
    background-image: url(../img/home/homepage-second-slide.jpg);
}
#section3 {
    background-image: url(../img/home/homepage-second-slide.jpg);
}
#section4 {
    background-image: url(../img/home/homepage-four-slide.jpg);
}
#section5 {
    background-image: url(../img/home/homepage-second-slide.jpg);
}

/* Arrow
	 * --------------------------------------- */
#arrow {
    width: 100%;
    height: 70px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 0;
    outline: 0;
    z-index: 100;
    color: #ffffff;
    background: transparent;
    -moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
}
#arrow span {
    display: inline-block;
    position: relative;
    top: -18px;
    -moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
}
#arrow:hover span {
    top: 0;
    color: #FFF;
}
/* Intro texts
	 * --------------------------------------- */


.intro-1 {
    position: absolute;
    bottom: 174px;
    text-align: center;
    width: 100%;
}
.intro-1 h2{
    font-size: 148px;
    font-family: 'GothamPro-Medium', sans-serif;
    color: #ffffff;
    line-height: 1;
    text-transform: uppercase;
}

.intro h2{
    font-size:20px;
    font-family: 'GothamPro-Medium', sans-serif;
    text-transform: uppercase;
    color: #0a356a;
    text-align: left;
    line-height: 1.3;
}

.list-section{
    font-size:14px;
    color: #0a356a;
    font-family: 'GothamPro-Medium', sans-serif;
    text-align: left;
    font-weight: normal;
}

.list-section i.fa{
    display: inline;
    padding-left:16px;
}

.section .img-fluid {
    max-width: 90%;
    height: auto;

}
.footer-1{
    position: absolute;
    bottom: 70px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
.footer-2{
    position: absolute;
    bottom: 5px;
    text-align: left;
    width: 100%;
}
.footer-2 ul{
    display:table;
    margin-left: auto;
    margin-right: 100px;

}
.footer-2 ul li{
    display:table-cell;
    text-align:center;
    padding:3px 32px;
}
.footer-2 ul li a{
    display:table-cell;
    font-size:16px;
    color: #ffffff;
}
#section2 .title, #section3 .title, #section4 .title, #section5 .title{
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);

    font-size: 20px;
    text-transform: uppercase;
    color: #849ab4;
}
/*#section2 .intro h2::before,*/
/*#section3 .intro h2::before,*/
/*#section5 .intro h2::before{*/
/*position: relative;*/
/*top: 32px;*/
/*right: 347px;*/
/*content: '';*/
/*width: 360px;*/
/*height: 8px;*/
/*background: #0045ba;*/
/*display: block;*/
/*}*/
#section2 .button-bottom button,
#section3 .button-bottom button,
#section5 .button-bottom button{
    padding: 8px 80px;
    text-transform: uppercase;
}
#section3 .intro h2{
    margin-bottom: 43px;
    margin-top: 10px;
}
#section4 .button-bottom{
    margin-top:20px;
}
#section4 .button-bottom button{
    text-transform: uppercase;
    color: #1d1e1f;
    padding: 7px 80px;
}
#section4 .intro h2 {
    color: #ffffff;
    margin-bottom:0;
}
#section4 .intro h3 {
    color: #c2ccda;
    margin-top:0;
    margin-bottom: 40px;
    text-align: left;
}
#section4 .intro h4{
    text-align: left;
    text-transform: uppercase;
}
#section4 .list-unstyled{
    color: #fff;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 30px;
}
#section5 h3{
    text-align: left;
    color: #0a356a;
}
#section5 .block-1,
#section5 .block-2{
    color: #0a356a;
}
#section5 .block-1 h5,
#section5 .block-2 h5{
    font-size:16px;
}
#section5 .block-1 h4,
#section5 .block-2 h4{
    font-size:24px;
}
#section5 .intro h2{
    margin-top: 100px;
}
#section4 .img-fluid {
    max-width: 100%;
}
@media (max-width: 1200px) {
    #section2 .myflex{
        flex-grow: 1;
        max-width: 25%;
    }
    .intro h2 {
        font-size: 22px;
        line-height: 1.3;
        margin-bottom: 100px;
    }
    .block-1 h2 {
        margin: 47px 0 -15px 0;
        font-size: 22px;
        width: 176px;
    }
    dl.list-section {
        font-size: 16px;
    }
    .btn-get {
        margin-top: 200px;
        padding: 16px 120px;
        font-size: 18px;
    }
    .list-section dt {
        margin-top: 0;
        padding-left: 50px;
    }
}
@media (max-width: 1165px) {

    .intro-1 h2:first-child {
        font-size: 170px;
        margin-bottom: 193px;
    }
    .intro-1 h2:last-child {
        font-size: 170px;
        margin-bottom: 123px;
    }
}

@media (max-width: 1060px) {

    .intro-1 h2:first-child {
        font-size: 155px;
        margin-bottom: 193px;
    }
    .intro-1 h2:last-child {
        font-size: 155px;
        margin-bottom: 123px;
    }
}
@media (max-width: 992px) {
    #section2 .block-1 h2{
        margin: 10px 0 -19px -30px;
    }
    #section2 .block-1 h2::before {
        right: 54%;
        top: -20px;
        width: 156px;
        height: 8px;
    }
    #section2 .intro h2,
    #section3 .intro h2{
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 30px;
    }
    #section2 .list-section,
    #section3 .list-section{
        font-size:13px;
    }
    #section2 .img-fluid {
        max-width: 90%;
        height: auto;

    }
    #section2 .button-bottom button,
    #section3 .button-bottom button,
    #section5 .button-bottom button{
        padding: 8px 80px;
        text-transform: uppercase;
    }
}
@media  (max-width: 990px) {

    .intro-1 h2:first-child {
        font-size: 145px;
        margin-bottom: 193px;
    }
    .intro-1 h2:last-child {
        font-size: 145px;
        margin-bottom: 123px;
    }
}

@media (max-width: 950px) {
    #section2 .row.align-items-center,
    #section3 .row.align-items-center,
    #section4 .row.align-items-start{
        margin-top:100px !important;
    }

    .section .col{
        height: auto !important;
    }
    .intro-1 h2:first-child {
        font-size: 135px;
        margin-bottom: 193px;
    }
    .intro-1 h2:last-child {
        font-size: 135px;
        margin-bottom: 123px;
    }
}
@media (max-width: 860px) {

    .intro-1 h2:first-child {
        font-size: 125px;
        margin-bottom: 193px;
    }
    .intro-1 h2:last-child {
        font-size: 125px;
        margin-bottom: 123px;
    }
}

@media  (max-width: 780px) {

    .intro-1 h2:first-child {
        font-size: 115px;
        margin-bottom: 193px;
    }
    .intro-1 h2:last-child {
        font-size: 115px;
        margin-bottom: 123px;
    }
    .footer-2 ul{
        display:table;
        margin-left: auto;
        margin-right: auto;

    }
}
@media  (max-width: 750px) {
    #section2 .myflex{
        flex-grow: 0;
        max-width: 100%;
    }
    #section2 .title, #section3 .title, #section4 .title, #section5 .title {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    #section2 .row.align-items-center,
    #section3 .row.align-items-center,
    #section4 .row.align-items-start {
        margin-top: 20px !important;
    }
}
@media  (max-width: 725px) {

    .intro-1 h2:first-child {
        font-size: 102px;
        margin-bottom: 193px;
    }
    .intro-1 h2:last-child {
        font-size: 102px;
        margin-bottom: 123px;
    }
}
@media  (max-width: 625px) {

    .intro-1 h2:first-child {
        font-size: 85px;
        margin-bottom: 193px;
    }
    .intro-1 h2:last-child {
        font-size: 85px;
        margin-bottom: 123px;
    }
}


@media  (max-width: 525px) {

    .intro-1 h2:first-child {
        font-size: 70px;
        margin-bottom: 193px;
    }
    .intro-1 h2:last-child {
        font-size: 70px;
        margin-bottom: 123px;
    }
}
@media  (max-width: 470px) {
    #section2 .list-section, #section3 .list-section {
        font-size: 12px;
    }
    #section3 .img-fluid {
        max-width: 50%;
        height: auto;
    }
    #section3 .intro h2 {
        margin-bottom: 10px;
    }
}
@media (max-width: 435px) {

    .intro-1 h2:first-child {
        font-size: 50px;
        margin-bottom: 193px;
    }
    .intro-1 h2:last-child {
        font-size: 50px;
        margin-bottom: 123px;
    }
}
@media  (max-width: 330px) {

    .intro-1 h2:first-child {
        font-size: 40px;
        margin-bottom: 193px;
    }
    .intro-1 h2:last-child {
        font-size: 40px;
        margin-bottom: 123px;
    }
}

